{% extends 'main/base.html' %}

{% block content  %}

<a  href =" {% url 'double.novo' %}">Novo</a> 

<table>
    <thead>
        <tr>
            <th>Nome</th>
            <th>Data de nascimento</th>
            <th>Ativa</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        {% for dbl in object_list %}
        <tr>
            <td>{{ dbl.nome }}</td>
            <td>{{ dbl.data_nascimento|date:"d/m/Y" }}</td>
            <td>
            {% if dbl.ativo %}
            Sim
            {% else %}
            Não
            {% endif %}
            </td>
            <td>
                <a href="{% url 'dbl.editar' pessoa.pk %}">Editar</a>
                <a href="{% url 'dbl.remover' pessoa.pk %}">Remover</a>
                <a href="{% url 'dbl.contatos' pessoa.pk %}">Contatos</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock content  %}